<!--顶部-->
<div class="layout bg-black bg-inverse">
    <div class="container height-large">
				<span class="float-right text-small text-gray hidden-l">
                <a class="text-main" href="http://www.phpbst.com">注册</a><span> | </span><a class="text-main" href="http://www.phpbst.com">登录</a><span> | </span><a class="text-main" href="http://www.phpbst.com">积分兑换</a><span> | </span><a class="text-main"
                                                                                                                                                                                                                                                href="http://www.phpbst.com">帮助中心</a>
				</span>
        欢迎访问<a href="http://www.phpbst.com">本站！</a>
    </div>
</div>